html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* button */
.btn-warning {
  background-color: #E0B973;
}

/* navbar */
nav {
  background-color: #14274A;
}

/* banner */
.banner {
  height: 100vh;
  background-image: url(/img/banner.jpg);
}

/* bar */
.bar {
  width: 90%;
  height: 100px;
  margin-top: -330px;
  /* z-index: 1; */
  background-color: white;
  position: absolute;
}

/* fasilitas */
.svg {
  padding-left: 60px;
}

/* contact */
iframe {
  width: 100%;
  margin-bottom: -7px;
}

#contact {
  margin-top: 90px;
}

/* footer */
footer {
  background-color: #14274A;
}

/* detail */
.detail {
  margin-top: 100px;
}